[submodule "crawler"]
	path = crawler
	url = https://github.com/jgombac/crawler

[submodule "2nd_assignment"]
	path = 2nd_assignment
	url = https://github.com/jgombac/web_extraction

[submodule "3rd_assignment"]
	path = 3rd_assignment
	url = https://github.com/jgombac/search_engine
